/*
* @Author: t
* @Date:   2018-08-21 14:02:28
* @Last Modified by:   t
* @Last Modified time: 2018-10-16 19:36:53
*/

@import url(grid-postcss);

/* name-postcss content */
.haa{
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px; */
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
  
  >div{
    background: #eee;
    width: 33.3333%;

  }
}

.itemTest{
  width: 100%;
  /* margin: 0 20px; */
}
.testone{
  position: absolute;
  top: 100px;
  /* width: 100%; */
  width: calc(100% - 30px);
  background: blue;
  height:calc(100% - 115px);
  margin: 0 15px;
    
}
.mol{
  /* height:calc(100% - 115px); */
  /* overflow-y: scroll; */
}
.nnn{
  height: 1200px;
  background: rgba(0, 0, 0, .1);
  margin-bottom: 10px;
}